body{
  background-color: #285943;
  font-family: papyrus, sans-serif;
  color: #8CD790; /*colore del testo*/
  font-size: 20 rem;
  text-shadow: 0.25px 0.25px 3px #AAFCB8;
  border-top: 0.25px dashed #AAFCB8;
}

h1, p.sub-title, #survey-form{
  text-align: center;
}

label{
  display: block;
  margin: auto;
}
input{
  margin: auto;
}
#name, #email, #number, #dropdown, #sumbit{
  width: 30%;
  text-align: center;
}
